footer{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 18px 0px;
/* Gray/800 */
background: #1D2939;

}
.ClickTik{
    padding-left: 30px;
}
.date{
    padding-right: 30px;

}